* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    grid-template: "navbar" "headerwrap" "leyenda" "frame" "listados" "contacto" "copyright";
}

/* Navbar */

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: block !important;
}

.navbar {
    grid-area: navbar;
    width: 100%;
}

.navbar-brand img {
    margin: .5rem 2.1rem .8rem 2.1rem;
}

.tel {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.icon-phone {
    display: none;
}

.direccion {
    display: inline;
}

.i-name {
    font-family: "Dosis";  
    width: 100%; 
    color: #1e225f !important;
    font-size: .9rem;
    letter-spacing: 0.02rem;
}

.telefono {
    margin: .65rem 1.3rem 0 0;
    line-height: 1rem;
}

/* Headerwrap */

#headerwrap {
    grid-area: headerwrap;
}

#formulario {
    display: none;
}

/* Leyenda */

#leyenda {
    grid-area: leyenda;
}

#leyenda h2 {
    line-height: 1.1rem;
}

#leyenda h2 strong {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

#leyenda2 a {
    color: #fff;
}

.btn-info {
    background-color: #1e225f !important;
    border: #1e225f !important;
}

/* Frame */

#frame {
    grid-area: frame;
}

.col-lg-8 {
    padding: 0 15px !important;
}

.centered {
    text-align: center !important;
}

#frame h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    margin: 20px 0 10px;
    font-weight: 400;
}

#frame a {
    color: #fff;
}

.col-lg-2 p {
    font-size: 12px;
    margin: 0 0 10px;
}

/* Listados */

#listados {
    grid-area: listados;
    padding: 0 10px !important;
}

#listados h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    margin: 20px 0 10px;
    font-weight: 400;
}

#listados h4 {
    color: #95a5a6;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

#listados .btn {
    color: #fff;
    font-weight: 700 !important;
    padding: 8px 13px !important;
}

#listados .row {
    display: block !important;
}

#listados .atlas {
    width: 140px;
    height: 228px;
} 

#listados p {
    color: #555;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
}

#listados p strong {
    color: #555;
    font-size: 12px;
    font-weight: bold;
}

/* Contacto */

#contacto {
    grid-area: contacto;
}

.mt {
    padding: 40px 0 !important;
}

.col-lg-12 {
    margin: 0 15px;
}

#contacto h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0 10px;
}

#contacto p {
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    margin: 0 0 10px;
}

.form-control {
    height: 32px !important;
    margin: 0 15px 10px 0;
    font-family: 'Dosis', sans-serif;
    font-size: 14px !important;
} 

#mensaje {
    height: 69px !important;
}

#submit {
    width: 100%;
    font-family: 'Dosis', sans-serif!important;
    font-size: 16px;
    font-weight: 800;
    background-color: #428bca;
    border-color: #357ebd;
    opacity: .65;
    padding: 10px 10px;
    border-radius: 3px;
}

/* Copyright */

#copyrigh {
    grid-area: copyright;
}

#copyright {
    color: #555;
    padding: 30px 0;
}

.footer2 {
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
}

@media (max-width: 479px) {
    
}