* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    grid-template: "navbar" "headerwrap" "leyenda" "frame" "footer" 50rem;
}

/* Navbar */

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: block !important;
}

.navbar {
    grid-area: navbar;
    width: 100%;
}

.navbar-brand img {
    margin: .5rem 2.1rem .8rem 2.1rem;
}

.tel {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.icon-phone {
    display: none;
}

.direccion {
    display: inline;
}

.i-name {
    font-family: "Dosis";  
    width: 100%; 
    color: #1e225f !important;
    font-size: .9rem;
    letter-spacing: 0.02rem;
}

.telefono {
    margin: .65rem 1.3rem 0 0;
    line-height: 1rem;
}

/* Headerwrap */

#headerwrap {
    grid-area: headerwrap;
}

#formulario {
    display: none;
}

/* Leyenda */

#leyenda {
    grid-area: leyenda;
}

#leyenda h2 {
    line-height: 1.1rem;
}

#leyenda h2 strong {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

#leyenda2 a {
    color: #fff;
}

.btn-info {
    background-color: #1e225f !important;
    border: #1e225f !important;
}

/* Frame */

#frame {
    grid-area: frame;
}

.col-lg-8 {
    padding: 0 15px !important;
}

.centered {
    text-align: center !important;
}

#frame h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    margin: 20px 0 10px;
    font-weight: 400;
}

#frame a {
    color: #fff;
}

.col-lg-2 p {
    font-size: 12px;
    margin: 0 0 10px;
}

/* Footer */

.footer {
    grid-area: footer;
}